@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

html {
    background: url('../images/background.jpg') no-repeat;
    background-size: cover;
}

body {
    margin: 0 auto;
    padding: 10px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    color: #e5e5e5;
    font-family: sans-serif;
}

header {
    display: flex;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
    font-family: sans-serif;
}

main div, 
main aside,
div article, 
header a, 
header nav, 
footer {
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style-type: none;
}

li > a {
    margin-right: 20px;
    font-size: 1em;
    transition: 0.3s;
}

li > a:hover {
    text-shadow: 2px 2px 4px rgba(206,206,206,0.7);
}

ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: custom-counter;
}

ol li {
  display: flex;
  width: 50%;
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  counter-increment: custom-counter;
}

ol li::before {
  content: "0" counter(custom-counter);
  margin-right: 0.5rem;
  line-height: 1;
  font-weight: bold;
  font-size: 3rem;
  font-family: 'Abril Fatface', serif;
}

footer {
    padding: 20px;
    margin-top: 10px;
    border: 2px solid #14334f;
    background-color: #8B008B;
    background-image: linear-gradient(to top right,
     rgba(101, 115, 255, 0.5), rgba(99, 106, 237, 0.5), 
        rgba(97, 97, 218, 0.5), rgba(94, 87, 200, 0.5), 
        rgba(92, 78, 181, 0.5), rgba(90, 69, 163, 0.5), 
        rgba(88, 60, 144, 0.5), rgba(86, 51, 126, 0.5), 
        rgba(84, 42, 107, 0.5), rgba(81, 32, 89, 0.5), 
        rgba(79, 23, 70, 0.5), rgba(77, 14, 52, 0.5));
}

/*---------------------------------------------Header section*/
.logo {
    justify-content: center;
    flex-grow: 1;
    padding: 20px;
    margin-right: 10px;
    transition: 0.3s;
    border: 2px solid #14334f;
    color: #00bfff;
    background-image: linear-gradient(to top right, 
        rgba(101, 115, 255, 0.5), rgba(99, 106, 237, 0.5), 
        rgba(97, 97, 218, 0.5), rgba(94, 87, 200, 0.5), 
        rgba(92, 78, 181, 0.5), rgba(90, 69, 163, 0.5), 
        rgba(88, 60, 144, 0.5), rgba(86, 51, 126, 0.5), 
        rgba(84, 42, 107, 0.5), rgba(81, 32, 89, 0.5), 
        rgba(79, 23, 70, 0.5), rgba(77, 14, 52, 0.5));
}

.logo:hover {
    text-shadow: 2px 2px 5px rgba(101, 115, 255, 0.7);
}

.navigation {
    flex-grow: 10;
    padding: 5px;
    border: 1px solid black;
    background-color: #00bfff;
    background-image: linear-gradient(to top right, 
        rgba(101, 115, 255, 0.5), rgba(99, 106, 237, 0.5), 
        rgba(97, 97, 218, 0.5), rgba(94, 87, 200, 0.5), 
        rgba(92, 78, 181, 0.5), rgba(90, 69, 163, 0.5), 
        rgba(88, 60, 144, 0.5), rgba(86, 51, 126, 0.5), 
        rgba(84, 42, 107, 0.5), rgba(81, 32, 89, 0.5), 
        rgba(79, 23, 70, 0.5), rgba(77, 14, 52, 0.5));
}
/*---------------------------------------------END Header section*/

/*---------------------------------------------Image section*/
.info-wrap {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
}

.box-info {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.info-item {
    width: 100%;
    margin-top: 10px;
    border: 2px solid #14334f;
}

.info-item > img {
    width: 100%;
}
/*---------------------------------------END Image section*/

/*---------------------------------------Section wrap*/
.section-wrap {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 5fr;
}

.section-item {
    margin-top: 10px;
    padding: 20px;
    border: 2px solid #14334f;
    background-image: linear-gradient(to top right, 
        rgba(101, 115, 255, 0.5), rgba(99, 106, 237, 0.5), 
        rgba(97, 97, 218, 0.5), rgba(94, 87, 200, 0.5), 
        rgba(92, 78, 181, 0.5), rgba(90, 69, 163, 0.5), 
        rgba(88, 60, 144, 0.5), rgba(86, 51, 126, 0.5), 
        rgba(84, 42, 107, 0.5), rgba(81, 32, 89, 0.5), 
        rgba(79, 23, 70, 0.5), rgba(77, 14, 52, 0.5));
}
.section-info p{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}
/*---------------------------------------END Section wrap*/

/*---------------------------------------Main content*/
.content-wrap {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 5fr 3fr;
}

.article-content {
    grid-template-rows: repeat(10, 1fr);
}

.box-article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    margin-top: 10px;
}

.box-aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    border: 2px solid #14334f;
    background-image: linear-gradient(to top right,
     rgba(101, 115, 255, 0.2), rgba(99, 106, 237, 0.2), 
        rgba(97, 97, 218, 0.2), rgba(94, 87, 200, 0.2), 
        rgba(92, 78, 181, 0.2), rgba(90, 69, 163, 0.2), 
        rgba(88, 60, 144, 0.2), rgba(86, 51, 126, 0.2), 
        rgba(84, 42, 107, 0.2), rgba(81, 32, 89, 0.2), 
        rgba(79, 23, 70, 0.2), rgba(77, 14, 52, 0.2));
}

.box-item {
    padding: 20px;
    border: 2px solid #14334f;
    background-color: rgba(65, 105, 225, 0.9);
}

.box-item-1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 3;
}

.box-item-2 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 7;
    grid-column-end: 2;
}

.box-item-3 {
    grid-row-start: 4;
    grid-column-start: 2;
    grid-row-end: 7;
    grid-column-end: 3;
}

.box-item-4 {
    grid-row-start: 7;
    grid-column-start: 1;
    grid-row-end: 11;
    grid-column-end: 3;
    margin-top: 5px;
    padding: 20px;
    background-color: #483D8B;
    background-image: linear-gradient(to top right,
    rgba(101, 115, 255, 0.5), rgba(99, 106, 237, 0.5), 
        rgba(97, 97, 218, 0.5), rgba(94, 87, 200, 0.5), 
        rgba(92, 78, 181, 0.5), rgba(90, 69, 163, 0.5), 
        rgba(88, 60, 144, 0.5), rgba(86, 51, 126, 0.5), 
        rgba(84, 42, 107, 0.5), rgba(81, 32, 89, 0.5), 
        rgba(79, 23, 70, 0.5), rgba(77, 14, 52, 0.5));
}

.box-item-5 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(139, 0, 139, 0.7);
    background-image: linear-gradient(to top right,
    rgba(101, 115, 255, 0.5), rgba(99, 106, 237, 0.5), 
        rgba(97, 97, 218, 0.5), rgba(94, 87, 200, 0.5), 
        rgba(92, 78, 181, 0.5), rgba(90, 69, 163, 0.5), 
        rgba(88, 60, 144, 0.5), rgba(86, 51, 126, 0.5), 
        rgba(84, 42, 107, 0.5), rgba(81, 32, 89, 0.5), 
        rgba(79, 23, 70, 0.5), rgba(77, 14, 52, 0.5));
}
/*---------------------------------------END Main content*/

/*---------------------------------------Media Queries*/
@media (max-width: 1024px) {

    .info-wrap {
        grid-gap: 30px;
        padding: 40px 0 10px 0;
        margin: 0;
    }

    .box-info {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }

    .box-item-1 {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-row-end: 3;
        grid-column-end: 3;
    }

    .box-item-2 {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 3;
    }

    .box-item-3 {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-row-end: 7;
        grid-column-end: 3;
    }

    .box-item-4 {
        padding: 20px;
    }
}

@media (max-width: 360px) {
    
    .logo {
        flex-grow: 100;
        font-size: 2em;
    }

    .navigation {
        flex-basis: 30%;
    }

    ul {
        justify-content: flex-start;
        padding-left: 10px;
    }

    li > a {
        font-size: 0.9em;
    }

    .info-wrap {
        grid-template-columns: 1fr;
        grid-gap: 5px;
        padding: 20px 0 10px 0;
    }

    .section-wrap {
        grid-template-columns: 1fr;
        margin-bottom: 20px;
    }

    .content-wrap {
        grid-template-columns: 1fr;
    }

    .box-aside {
        grid-template-rows: 1fr;
    }

    .box-item-5 {
        padding: 20px;
    }

    ol li::before {
        font-size: 2rem;
    }
}
/*---------------------------------------END Media Queries*/